:root {
  --green: #acd8ad;
  --dark-grey: #3f4043
}

@media (min-width:320px) {
    html {
        font-size: 16px;
    }

    .navigation-panel {
        height:45px;
        padding-left:20px;
        padding-top: 15px;
    }

    .header-navigation-list {
        top: 30px;
    }

    .header-nav-item {
        width: 43vw;
        font-size: 0.56rem;
    }

    .menu-icon {
        width: 50px;
        height: 45px;
        top:-15px;
    }


    .section-main-pic {
        margin-top:45px;
        min-height: 80vh;
        padding: 10vh;
        background: url(../img/Main-background-L.jpg) no-repeat center;
        background-size: cover;
    }

    .main-title {
        font-size: 1.5rem;
        margin-bottom:2vh;
    }

    .main-title:last-child {
        margin-top:5vh;
    }

    .nav-block {
        min-height: 30vh;
    }

    .menu-group-header-icon>img {
        transform: scale(1.5) translate(-37%, -37%)
    }

    .page-footer {
        min-height: 80px;
        margin-top: 35px;
    }

}

@media (min-width:640px) {
    html {
        font-size: 20px;
    }

    .navigation-panel {
        padding-top: 0;
        height: 65px;
    }

    .menu-icon, .navigation-title {
        display:none;
    }

    .header-navigation-list {
        height:65px;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        justify-content: flex-start;
        align-items: stretch;
        background-color:#373c3f;
    }

    .header-nav-item {
        padding: 10px;
        width: auto;
        font-size: 0.56rem;
        line-height: 45px;
        background-color:transparent;
        text-transform: uppercase;
        color: #ebebeb;
        box-shadow: none;
        cursor: pointer;
    }

    .header-nav-item:hover {
        color: var(--green)
    }

    .logo-at-the-end:after {
        content:"";
        display:block;
        width:75px;
        height:60px;
        background: url(../img/navigation-logo.png);
        background-size: 100%;
        position:absolute;
        right: 2%;
        top: 1vh;
    }

    .section-main-pic {
        min-height: calc(100vh - 65px);
        margin: 65px auto 0;
    }

    .section-nav-blocks {
        flex-wrap: nowrap;
    }

    .service-nav-item {
        flex: 1 0 33.33%;
    }

    .nav-block {
        min-height: 300px;
        padding: 0;
        font-size: 1.6rem;

    }

    .nav-block:hover .arrow-block {
        display:none;
    }

    .Pizza-Delivery-block{
        background: url(../img/Pizza_delivery-bg-L.jpg) no-repeat;
        background-size:cover;
    }

    .UA-UX-Salads-block {
        background: url(../img/UA_UX-Salads-bg-L.jpg) no-repeat;
        background-size:cover;
    }

    .Desserts-block {
        background: url(../img/Desserts-bg-L.jpg) no-repeat;
        background-size:cover;
    }

    .menu-header-bar {
        margin: 5vh 0 5vh;
    }

    .menu-logo {
        display: block;
    }

    .menu-column {
        width: 50%;
    }

    .item-name {
        padding-right: 4rem;
    }


    .page-footer {
        min-height: 97px;
        margin-top: 50px;
        padding: 0 20px;
        position:relative;
        display: flex;
        flex-flow: wrap;
        justify-content: flex-end;
    }

    .logo-in-the-beginning:before {
        content:"";
        display:block;
        width:75px;
        height:60px;
        background: url(../img/navigation-logo.png);
        background-size: 100%;
        position:absolute;
        left: 0;
        bottom: 15px;
    }

    .page-footer > .container {
        height:100%;
        align-items: center;
        justify-content: flex-end;
    }

    .footer-text {
        width: auto;
    }

@media (min-width:980px) {

    .container {
        max-width: 1125px;
        margin: 0 auto;
    }

    .navigation-panel {
        height: 97px;
    }

    .logo-at-the-end:after {
        width:104px;
        height:83px;
        right: 30px;
        top: 8px;
    }

    .header-nav-item {
        height:97px;
        padding: 20px;
        line-height: 57px;
        font-size: 0.8rem;
    }


    .section-main-pic {
        min-height: calc(100vh - 97px);
        margin:97px auto 0;
        background: url(../img/Main-background-L.jpg) no-repeat center;
        background-size: cover;
    }

    .main-title {
         font-size: 2.5rem;
         color: white;
         font-weight: bold;
    }

    .nav-block {
        min-height: 375px;
    }

    .page-footer {
        min-height: 97px;
    }

    .logo-in-the-beginning:before {
        width:104px;
        height:83px;
        left: 0;
        top: 8px
    }

}

