body {
    font-family: 'Roboto', sans-serif;
    color: #424242;
}

.container {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*///////////////////////////// HEADER-INFO /////////////////////////////////*/
.header-info {
    background-color: #f0f2f4;
    height: 40px;
    display: flex;
}

.header-info-phone {
    position: relative;
    padding-right: 69px;
    font-size: 15px;
}

.header-info-phone:before {
    content: "\f3cd";
    font-family:  "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: -2px;
    left: -22px;;
    font-size: 18px;

}
.header-info-phone:after {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: #e2e2e2;
    height: 40px;
    width: 1px;
    top: -12px;
    right:48px;
}

.header-info-email {
    font-size: 15px;
    padding-right: 15px;
    transform:translate(0,-2px);
    position: relative;
}

.header-info-email:before {
    content: "\f0e0";
    font-family:  "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: -27px;
    top: -1px;
    font-size:18px;
}

.header-info-fb {
    transform: translate(-3px, -3px);
    font-size:28.5px;
    color: #1287bf;
}

/*///////////////////////////// NAVIGATION /////////////////////////////////*/

.section-navigation {
    padding-top: 41px;
    padding-bottom: 37px;
    position: relative;
    top: 0;
    background-color: white;
    z-index: 999;
}

.section-navigation>.container {
    justify-content: space-between;
}

.logo-pic {
    margin-right: 9px;
    display: inline-block;
}

.logo-text {
    display: inline-block;
    transform:translate(0px,-3px);
}

.logo-text-title {
    font-size: 37px;
    font-weight: 900;
    letter-spacing: -0.5px;
}

.logo-text-tagline {
    padding-left:3px;
    font-size: 15px;
}

.navigation-menu {
    display:flex;
    align-items:center;
    font-size: 15px;
}

.navigation-item {
    margin-right: 38px;
    position: relative;
}

.nav-item-active {
    color: #de2b24;
    font-weight:700;
}

.dot-separator:after {
    content:"";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius:2.5px;
    background-color: #424242;
    position: absolute;
    right: -23px;
    top: 5px;

}
.call-consultation {
    padding-right: 26px;
    padding-left: 28px;
    height:36px;
    margin-right: 2px;
    border-radius: 4px;
    text-align: center;
    line-height: 36px;
    background-color: #de2b24;
    color: white;
}

.call-consultation:hover {
    background-color: #bf2620;
}
/*///////////////////////////// MAIN /////////////////////////////////*/

.section-main {
    padding-top: 171px;
    padding-bottom: 236px;
    background: url(../img/header-banner-bg.jpg) no-repeat bottom;
    background-size:cover;
    color: white;
}

.section-main>.container {
    flex-flow: column;
    justify-content: flex-start;
}

.main-title {
    margin-bottom:5px;
    font-size: 46px;
    font-weight: 700;
    letter-spacing: 0.6px;
}

.main-subtitle {
    font-size: 30px;
    margin-bottom:32px;
}

.main-call-consultation {
    height: 69px;
    padding: 0 50px;
    border-radius: 6px;
    text-align: center;
    line-height: 69px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    background-color: #f8cd53;
    letter-spacing: -0.5px;
}

.main-call-consultation:hover {
    background-color: #dcb852;
}
/*///////////////////////////// ABOUT /////////////////////////////////*/

.section-about {
    padding-top: 98px;
    padding-bottom:140px;
}
.section-about>.container {
    flex-flow:column;
    justify-content:flex-start;

}

.about-title {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.5px;
}


.about-subtitle {
    margin-top: 5px;
    padding-bottom:13px;
    font-size: 20px;

}

.title-divider {
    position:relative;
}

.title-divider:after {
  content: "";
  position: absolute;
  bottom:-5px;
  left: 50%;
  width: 47px;
  height: 5px;
  transform: translate(-50%);
  background-color: #424242;
}

.row-flex-wrapper {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.service-items-wrapper{
    width: 911px;
    margin-top: 51px;
}
.about-service-item {
    width:228px;
    display:flex;
    flex-flow: column;
    align-items:center;
    border-radius: 30px;
}

.about-service-item:hover {
    background-color: #eeeeee;
}

.service-item-pixel-perfect-icon {
    padding-top: 5px;
    padding-right: 14px;
}

.service-item-title {
    margin-top:27px;
    transform: translate(-8px);
    font-size: 21px;
    font-weight: 700;
}

.service-item-title-pixel-perfect{
    transform: translate(-2px)
}

.service-item-title-pix-perf {
    margin-top: 20px;
}

.service-item-description {
    margin-top:10px;
    font-size: 13.5px;
    font-weight: 400;
    text-align:center;
    line-height:22px;
    transform: translate(-2px);
}

/*///////////////////////////// WORK EXAMPLES /////////////////////////////////*/

.section-work-examples {
    padding-top: 108px;
    padding-bottom: 130px;
    background-color: #de2b24;
}

.section-work-examples > .container {
    flex-direction: column;
    justify-content: flex-start;
}

.work-examples-title {
    color:  #ffffff;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.2px;
}

.work-examples-subtitle {
    margin-top: 4px;
    color:  #ffffff;
    font-size: 20px;
}

.title-divider-bg:after {
    bottom: -17px;
    background-color: #ffffff;
}

.work-examples-wrapper{
    width: 1024px;
    margin-top: 66px;
}
.project-item {
    display: flex;
    position: relative;
}

.project-item:hover:before {
    content: "";
    display:block;
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,0.2);
    z-index:1;
}

.project-item-box {
    width: 255px;
    height: 253px;
}

.larger-box {
    width: 257px;
}
.description-block {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #f35e59;
}

.project-piccontainer > img {
    width: 100%;
}

.project-piccontainer {
    overflow:hidden;
}

.paper-plane-pix-perf {
    transform: translate(-8px);
}

.project-title {
    margin-top:24px;
    color:  #ffffff;
    font-size: 26px;
    font-weight: 700;
    transform:translate(-2px,-3px);
}

.project-subtitle {
    color:  #ffffff;
    font-size: 16px;
}

.section-contacts {
    padding-top: 90px;
    padding-bottom: 86px;
    background-color: #2a2a2a;
}

/*///////////////////////////// CONTACT FORM /////////////////////////////////*/
.section-contacts{
    padding-top: 88px;
    padding-bottom: 86px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #2a2a2a;
}

.contacts-title {
    margin-bottom: 25px;
    font-size: 29px;
    font-weight: 700;
    color:  #ffffff;
    transform: translate(-5px);
    letter-spacing: -0.2px;
}

.social-media-wrapper{
    width:256px;
    margin-bottom: 35px;
    transform: translate(-2px);
}
.social-media-btn {
      width: 49px;
      height: 49px;
      border-style: solid;
      border-width: 2px 1px 1px 2px;
      border-color: #515151;
      border-radius: 3px;
      background-color: transparent;
}

.social-media-btn:hover {
    border-color: #de2b24;
}

.fb-btn {
     background: url(../img/fb.png) center no-repeat;
 }

.twitter-btn {
    background: url(../img/twitter.png) center no-repeat;
}

.g-plus-btn {
    background: url(../img/g-plus.png) center no-repeat;
}

.linked-in-btn {
    background: url(../img/LinkedIn.png) center no-repeat;
}

.contacts-description {
    margin-bottom: 33px;
    padding-right:4px;
    font-size: 14px;
    color:  #cecece;
}

.subscribe-form {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.contacts-email-input {
    width: 683px;
    border: none;
    padding: 20px 0 18px 21px;
    margin-bottom: 27px;
    box-sizing: border-box;
    background-color: #515151;
    font-size:14px;
    color: #cecece;
    letter-spacing: -0.2px;
    transform: translate(-2px);
}

.contacts-subscribe-btn {
    height: 51px;
    padding-right: 36px;
    padding-left: 37px;
    border: 2px solid #515151;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    color: white;
    letter-spacing: -0.3px;
    transform: translate(-1px);
}

.contacts-subscribe-btn:hover {
    background-color: #de2b24;
}

.contacts-subscribe-btn:active {
    background-color: #c72822;
}

/*///////////////////////////// FOOTER /////////////////////////////////*/
footer {
    display:flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 17px;
    background-color: #515151;
}

.footer-text {
    font-size: 14px;
    color: #cecece;
    transform:translate(-10px);
}
