body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cell {
    height: 20px;
    width: 20px;
    border: 1px solid black;
}

.active {
    background-color: black;
}

.inverse .cell {
    background-color:black;
    border: 1px solid grey;
}
.inverse .active {
    background-color: white;
}